* {
  background-color: black;
}
main > section {
  text-align: center;

  /* these should change as additional content is added to the page. */
  margin-top: 15%;
  margin-bottom: 15%;
}
main > section > div {
  width: 300px;
  height: 300px; 
  margin: 0 auto;
  display: inline-block;
  /* margin-left: auto;
  margin-right: auto; */
}

main > section > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display:inline-block;
}
